a.viewheight {
  display: block;
}

.activities {
    background-blend-mode: lighten;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* Default or fallback background */
.activities-one {
    background-image: url(../../assets/wildlife\ ultra.jpg);
}

.activities-two {
    background-image: url(../../assets/Manataa\ Village.jpg);
}

.activities-three {
    background-image: url(../../assets/African\ Barbecue\ .jpg);
}

.activities-four {
    background-image: url(../../assets/hikingsafari2.jpg);
}

.activities-five {
  background-image: url(../../assets/olalaimutia\ village.jpg);
}

.activities-six {
  background-image: url(../../assets/beadmaking.jpeg);
}

.activities-seven {
  background-image: url(../../assets/Natumi\ house.webp);
}

.activities-eight {
  background-image: url(../../assets/uncle\ edward.jpg);
}

.center {
    display: flex;
    justify-content: center;
    height: 100%;
}

.itemcontainer {
    margin: auto;
    margin-top: 12vh;
    display: flex;
    max-width: 90vw;
}

.image {
    box-shadow: 2px 2px 5px #000;
    height: 80vh;
    min-width: 40vh;
    max-width: 50vw;
    overflow: hidden;
}

.text.teaser {
  position: absolute;
  top: 25vh;
  right: 0;
  max-width: 50vw;
  height: auto;
  min-width: auto;
  width: auto;
}

.text.teaser h1 {
  margin-bottom: 5vh;
}

.text {
    background-color: #a447;
    padding-left: 5vh;
    padding-right: 5vh;
    height: 80vh;
    min-width: 60vh;
    max-width: 50vw;
    color: white;
    text-shadow: 
      0 0 5px rgba(0, 0, 0, 0.5), 
      1px 1px 0 rgba(0, 0, 0, 0.5), 
      -1px 1px 0 rgba(0, 0, 0, 0.5), 
      1px -1px 0 rgba(0, 0, 0, 0.5), 
      -1px -1px 0 rgba(0, 0, 0, 0.5);
    position: relative;
    z-index: 1;
    text-align: center;
    background: radial-gradient(circle, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3), transparent);
    text-align: left;
    text-wrap: wrap;
}

.text p {
    line-height: 140%;
}

.info {
  margin-bottom: 3vh;
  background-color: rgba(156, 156, 156, 0.7);
  padding: 1vh;
  display: inline-block;
  margin-left: -1vh;
  bottom: 0;
  position: absolute;
}

h1 {
    font-size: 4.2vh;
    margin-top: 5vh;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 3vh;
    text-align: center;
}

p {
    font-size: 3.2vh;
    margin: 0;
    margin-bottom: 0.5vh;
    line-height: 55%;
}

.small {
    font-size: 2.6vh;
}
