body {
    width: 100vw;
    margin: 0;
    overflow-x: hidden;
    font-family: Arial, sans-serif;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

html {
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Times New Roman', Times, serif !important;
}