<div class="home-container">
    <!-- Home Page Content -->
    <div class="viewheight">
        <div class="background">
            <img class="active" src="assets/background.jpeg" />
            <img />
            <video></video>
        </div>
        <div class="top-gradient"></div>
        <div class="bottom-gradient"></div>
        <div class="foreground">
            <app-carousel-cycle 
                #carousel 
                *ngIf="content"
                [items]="content">
                <ng-template let-item>
                    <div class="center">
                        <div class="itemcontainer" 
                            (mousemove)="carousel.cycleForegroundActive = false" 
                            (mouseout)="carousel.cycleForegroundActive = true">
                            <div class="image">
                                <app-full-img [src]="item.image" />
                            </div>
                            <div class="text">
                                <h1>
                                    <ng-container *ngFor="let item of item.title; let last = last">
                                        {{ item }}<br *ngIf="!last" />
                                    </ng-container>                    
                                </h1>
                                <p *ngFor="let line of item.text">{{line}}</p>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </app-carousel-cycle>
        </div>
    </div>

    <!-- About Page Content -->
    <div class="minviewheight">
        <div class="title-container">
            <h1 class="page-title">About Nashipae Cultural Oasis</h1>
        </div>
        <div class="container" *ngIf="aboutContent">
            <div class="part" *ngFor="let part of aboutContent">
                <div *ngFor="let item of part.items; let last = last">
                    <div>
                        <app-full-img [class]="item.imageClass" [src]="item.image"></app-full-img>
                        <p *ngFor="let line of item.text">{{ line }}</p>
                    </div>
                    <hr *ngIf="!last" />
                </div>
            </div>
        </div>
    </div>
</div>