/* Home Container */
.home-container {
  display: flex;
  flex-direction: column;
}

/* Home Page Styles */
.viewheight {
  position: relative;
  height: 150vh;
  overflow: hidden;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.background * {
  position: absolute;
  opacity: 0;
  object-fit: cover;
  width: 100%;
  height: 150%;
}

.background .active {
  opacity: 1;
}

.foreground {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.top-gradient {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 200vh;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.534), rgba(0, 0, 0, 0.589));
}

.bottom-gradient {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40vh;
  // background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

/* Text Overlay Styles */
.text-overlay {
  position: absolute;
  top: 50%;
  left: 10%; /* Align text to the left */
  transform: translateY(-50%); /* Center vertically */
  text-align: left; /* Align text to the left */
  color: white;
  z-index: 2;
}

.text-overlay h2 {
  font-size: 4.5vh; /* Increased font size */
  font-style: montserrat;
  // margin: 0;
  // margin-bottom: 2vh; /* Increased margin for better spacing */
}
.text-overlay h1 {
  font-size: 8vh; /* Increased font size */
  font-style: abril fatface;
  font-weight: bold;
  margin: 0;
  margin-bottom: 2vh; /* Increased margin for better spacing */
}

.text-overlay h2 {
  font-size: 6vh; /* Increased font size */
  font-style: sans-serif;
  // margin: 0;
  // margin-bottom: 2vh; /* Increased margin for better spacing */
}

.text-overlay p {
  font-size: 3.5vh; /* Increased font size */
  margin: 0;
  color: white;
}

/* Book Now Button Styles */
.book-now-button {
  position: absolute;
  bottom: 20px;
  right: 35px;
  padding: 10px 20px;
  font-size: 3vh;
  font-weight: bold;
  color: white;
  background-color: #134b8b4f;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 2;
}

.book-now-button:hover {
  background-color: transparent;
}

.text {
  // box-shadow: 2px 2px 5px #000;
  margin-left: 5vh;
  padding-left: 5vh;
  padding-right: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 45vh;
  width: 60vh;
  color: white;
  border-radius: 3vh;
  position: relative;
  z-index: 1;
  text-align: center;
  backdrop-filter: blur(5px) brightness(0.65);
  -webkit-backdrop-filter: blur(5px) brightness(0.7);
  background: transparent;
  cursor: pointer;
}

.text p {
  line-height: 140%;
}

h1 {
  font-size: 4.2vh;
  margin: 0;
  margin-bottom: 1vh;
}

p {
  font-size: 3.4vh;
  margin: 0;
  margin-bottom: 0.5vh;
  line-height: 55%;
}

