<div class="home-container">
    <!-- Home Page Content -->
    <div class="viewheight">
        <div class="background">
            <img class="active" src="assets/house-evening.jpeg" />
            <img />
            <video></video>
        </div>
        <div class="top-gradient"></div>
        <div class="bottom-gradient"></div>
        <div class="foreground">
            <div class="text-overlay">
                <h2>Welcome to</h2>
                <h1>NASHIPAE</h1>
                <h2>Cultural Oasis</h2>
                <p>Experience the ultimate luxury and comfort in the heart of nature.</p>
            </div>
            <button class="book-now-button" (click)="navigateToBooking()">BOOK NOW</button>
        </div>
    </div>
</div>

    <!-- About Page Content -->
    <div class="minviewheight">
        <div class="title-container">
        <div class="container" *ngIf="aboutContent">
            <div class="part" *ngFor="let part of aboutContent">
                <div *ngFor="let item of part.items; let last = last">
                    <div>
                        <app-full-img [class]="item.imageClass" [src]="item.image"></app-full-img>
                        <p *ngFor="let line of item.text">{{ line }}</p>
                    </div>
                    <hr *ngIf="!last" />
                </div>
            </div>
        </div>
    </div>
    