.background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.background * {
    position: absolute;
    opacity: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.background .active {
    opacity: 1;
}

.foreground {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

.top-gradient {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 40vh;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)); /* Define the gradient */
  }

  .bottom-gradient {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 40vh;
    background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)); /* Define the gradient */
  }



/* content */

.center {
  display: flex;
  justify-content: center;
  height: 100%;
}

.itemcontainer {
  margin: auto;
  display: flex;
}

@media (orientation: portrait) { //max-width: 768px
  .center
  {
    justify-content: flex-start !important;
  }

  .itemcontainer {
    flex-direction: column;
    margin: 0 !important;
  }

  .image {
    margin: 0 !important;
    border-radius: 0 !important;
    height: auto !important;
    width: auto !important;
    max-width: 100vw !important;
    max-height: 40vh !important;
    // height: auto !important;
  }

  .text {
    margin: 0 !important;
    border-radius: 0 !important;
    padding-left: 5vw !important;
    padding-right: 5vw !important;
    padding-top: 5vw !important;
    padding-bottom: 5vw !important;
    width: 90vw !important;
    height: auto !important;
  }

  h1 {
    font-size: 3.2vh !important;
  }

  p {
    font-size: 2.8vh !important;
  }
}

.image {
    box-shadow: 2px 2px 5px #000;
    border-radius: 3vh;
    height: 45vh;
    width: 45vh;
    overflow: hidden;
}

.text {
    box-shadow: 2px 2px 5px #000;
    margin-left: 5vh;
    padding-left: 5vh;
    padding-right: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 45vh;
    width: 60vh;
    color: white;
    border-radius: 3vh;
    text-shadow:
      0 0 5px rgba(0, 0, 0, 0.5),
      1px 1px 0 rgba(0, 0, 0, 0.5),
      -1px 1px 0 rgba(0, 0, 0, 0.5),
      1px -1px 0 rgba(0, 0, 0, 0.5),
      -1px -1px 0 rgba(0, 0, 0, 0.5);
    position: relative;
    z-index: 1;
    text-align: center;
    backdrop-filter: blur(5px) brightness(0.65);
    -webkit-backdrop-filter: blur(5px) brightness(0.7);
    background: radial-gradient(circle, rgba(0, 0, 0, 0.5), transparent);
    cursor: pointer;
  }

  .text:hover {
    background: radial-gradient(circle, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3));
  }

  .text p {
    line-height: 140%;
  }

  h1 {
    font-size: 4.2vh;
    margin: 0;
    margin-bottom: 1vh;
  }

  p {
    font-size: 3.4vh;
    margin: 0;
    margin-bottom: 0.5vh;
    line-height: 55%;
  }
