.wrapper {
    text-wrap: nowrap;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

.item {
    width: 100vw;
    height: 100vh;
    display: inline-block;
    position: relative;
    text-wrap: wrap;
    transition: left ease-in-out 1s;
}

@media (orientation: portrait) { // max-width: 768px
  .item {
    overflow: hidden !important;
    // display: block;
  }


}

.shake {
    animation: shake 1.2s linear;
}

@keyframes shake {
    0% {
      transform: translateX(0);
    }
    10% {
      transform: translateX(-.25vw);
    }
    30% {
      transform: translateX(.5vw);
    }
    50% {
        transform: translateX(-1vw);
    }
    70% {
        transform: translateX(.5vw);
    }
    90% {
        transform: translateX(-.25vw);
    }
    100% {
      transform: translateX(0);
    }
  }

.item.notransition {
    transition: none !important;
}
