img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    // border-radius: 3vh;
    z-index: 100;
    cursor: pointer;
    //transition: all 3s ease;
}

.fullscreen {
    object-fit: contain !important;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vwh;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 1);
}