<div class="viewheight">
    <app-carousel-fader *ngIf="content" [items]="content">
        <ng-template let-item let-i="index">
            <a class="activities viewheight" 
               [ngClass]="getBackgroundClass(i)" 
               style="background-image: url({{item.sliderImage}})" 
               [routerLink]="'/' + item.anchor">
                <div class="text teaser">
                    <h1>
                        <ng-container *ngFor="let text of item.teaser; let last = last">
                            {{ text }}<br *ngIf="!last" />
                        </ng-container>                    
                    </h1>
                </div>
            </a>
        </ng-template>
    </app-carousel-fader>
</div>
<div [id]="item.anchor" class="viewheight activities" *ngFor="let item of content; let i = index" [ngClass]="getBackgroundClass(i)">
    <div class="center">
        <div class="itemcontainer">
            <div class="image">
                <app-full-img [src]="item.image" />
            </div>
            <div class="text">
                <h1>
                    <ng-container *ngFor="let title of item.title; let last = last">
                        {{ title }}<br *ngIf="!last" />
                    </ng-container>                    
                </h1>
                <p *ngFor="let line of item.text">{{line}}</p>
                <div class="info">
                    <p *ngIf="item.duration" class="small">Duration: {{item.duration}}</p>
                    <p *ngIf="item.participants" class="small">Participants: {{item.participants}}</p>
                    <p *ngIf="item.price" class="small">Price: {{item.price}}</p>
                </div>
            </div>
        </div>
    </div>
</div>