.container {
    display: flex;
    font-size: 2vw;
    padding-top: 0;
    padding-bottom: 10vh;
    width: calc(100% - 18px);
}

.part {
    width: 45%;
    padding-left: 2.5%;
    padding-right: 2.5%;
}

.part:first-child {
    border-right: 1px dashed #999;
}

.full {
    width: 100%;
    height: 20vw;
    display: block;
    margin-bottom: 5vh !important;
}

hr {
    margin-bottom: 5vh;
}

.dish {
    display: flex;
}

.dish .picture {
    width: 20vh;
    height: 20vh;
    object-fit: cover;
}

p {
    margin-top: 0;
    margin-bottom: 5vh;
}

h1 {
    font-size: 6vh;
    text-align: center;
    margin-top: 5vh;
}

.dish .details {
    flex: 1;
    padding-left: 2vh;
}

.dish .name {
    margin-top: 0;
    font-size: 3.4vh;
    float: left;
    margin-bottom: 2vh;
}

.dish .description {
    clear: both;
    font-size: 2.8vh;
}

.dish .price {
    font-size: 3.4vh;
    float: right;
    margin-bottom: 0;
}