<div class="minviewheight">
    <h1>Meals</h1>
    <div class="container">
        <div class="part">
            <h2>Kenyan dishes</h2>
            <div class="dish">
                <app-full-img class="picture" src="../../assets/dinner.jpeg" />
                <div class="details">
                    <h3 class="name">Ugali Managu</h3>
                    <p class="price">$3</p>
                    <p class="description">Traditional Kenyan dish with maize flour porridge and leaves of nightshade.</p>
                </div>
            </div>
            <div class="dish">
                <app-full-img class="picture" src="../../assets/dinner.jpeg" />
                <div class="details">
                    <h3 class="name">Ugali Managu Nyama</h3>
                    <p class="price">$5</p>
                    <p class="description">Traditional Kenyan dish with maize flour porridge, leaves of nightshade and meat.</p>
                </div>
            </div>
            <div class="dish">
                <app-full-img class="picture" src="../../assets/dinner.jpeg" />
                <div class="details">
                    <h3 class="name">Ugali Managu Sausage</h3>
                    <p class="price">$5</p>
                    <p class="description">Traditional Kenyan dish with maize flour porridge, leaves of nightshade and two sausages.</p>
                </div>
            </div>
            <div class="dish">
                <app-full-img class="picture" src="../../assets/dinner.jpeg" />
                <div class="details">
                    <h3 class="name">Ugali Managu Fish</h3>
                    <p class="price">$6</p>
                    <p class="description">Traditional Kenyan dish with maize flour porridge, leaves of nightshade and a fried fish.</p>
                </div>
            </div>
            <div class="dish">
                <app-full-img class="picture" src="../../assets/dinner.jpeg" />
                <div class="details">
                    <h3 class="name">Ugali Managu Nyama Choma</h3>
                    <p class="price">$8</p>
                    <p class="description">Traditional Kenyan dish with maize flour porridge, leaves of nightshade and barbecued meat.</p>
                </div>
            </div>
            <h2>Pizzas</h2>
            <div class="dish">
                <app-full-img class="picture" src="../../assets/dinner.jpeg" />
                <div class="details">
                    <h3 class="name">Pizza Margherita</h3>
                    <p class="price">$5</p>
                    <p class="description">Pizza with tomato and cheese.</p>
                </div>
            </div>
            <div class="dish">
                <app-full-img class="picture" src="../../assets/dinner.jpeg" />
                <div class="details">
                    <h3 class="name">Pizza Salami</h3>
                    <p class="price">$5</p>
                    <p class="description">Pizza with tomato and cheese and salami.</p>
                </div>
            </div>
            <div class="dish">
                <app-full-img class="picture" src="../../assets/dinner.jpeg" />
                <div class="details">
                    <h3 class="name">Pizza Pepperoni</h3>
                    <p class="price">$5</p>
                    <p class="description">Pizza with tomato and cheese and spicy sausage.</p>
                </div>
            </div>
        </div>
        <div class="part">
            <h2>Fries and Burgers</h2>
            <div class="dish">
                <app-full-img class="picture" src="../../assets/dinner.jpeg" />
                <div class="details">
                    <h3 class="name">Mzungu Burger</h3>
                    <p class="price">$5</p>
                    <p class="description">A burger with lettuce and tomato.</p>
                </div>
            </div>
            <div class="dish">
                <app-full-img class="picture" src="../../assets/dinner.jpeg" />
                <div class="details">
                    <h3 class="name">Ugali Managu Nyama</h3>
                    <p class="price">$5</p>
                    <p class="description">Traditional Kenyan dish with maize flour porridge, leaves of nightshade and meat.</p>
                </div>
            </div>
            <div class="dish">
                <app-full-img class="picture" src="../../assets/dinner.jpeg" />
                <div class="details">
                    <h3 class="name">Ugali Managu Sausage</h3>
                    <p class="price">$5</p>
                    <p class="description">Traditional Kenyan dish with maize flour porridge, leaves of nightshade and two sausages.</p>
                </div>
            </div>
            <div class="dish">
                <app-full-img class="picture" src="../../assets/dinner.jpeg" />
                <div class="details">
                    <h3 class="name">Ugali Managu Fish</h3>
                    <p class="price">$6</p>
                    <p class="description">Traditional Kenyan dish with maize flour porridge, leaves of nightshade and a fried fish.</p>
                </div>
            </div>
            <div class="dish">
                <app-full-img class="picture" src="../../assets/dinner.jpeg" />
                <div class="details">
                    <h3 class="name">Ugali Managu Nyama Choma</h3>
                    <p class="price">$8</p>
                    <p class="description">Traditional Kenyan dish with maize flour porridge, leaves of nightshade and barbecued meat.</p>
                </div>
            </div>
            <h2>Pizzas</h2>
            <div class="dish">
                <app-full-img class="picture" src="../../assets/dinner.jpeg" />
                <div class="details">
                    <h3 class="name">Pizza Margherita</h3>
                    <p class="price">$5</p>
                    <p class="description">Pizza with tomato and cheese.</p>
                </div>
            </div>
            <div class="dish">
                <app-full-img class="picture" src="../../assets/dinner.jpeg" />
                <div class="details">
                    <h3 class="name">Pizza Salami</h3>
                    <p class="price">$5</p>
                    <p class="description">Pizza with tomato and cheese and salami.</p>
                </div>
            </div>
            <div class="dish">
                <app-full-img class="picture" src="../../assets/dinner.jpeg" />
                <div class="details">
                    <h3 class="name">Pizza Pepperoni</h3>
                    <p class="price">$5</p>
                    <p class="description">Pizza with tomato and cheese and spicy sausage.</p>
                </div>
            </div>
        </div>
    </div>
</div>
