<div class="minviewheight" *ngIf="content">
    <h1>{{ content.title }}</h1>
    <div class="container">
        <div class="part" *ngFor="let category of content.container">
            <h2>{{ category.category }}</h2>
            <div class="dish" *ngFor="let dish of category.dishes">
                <app-full-img class="picture" [src]="dish.image"></app-full-img>
                <div class="details">
                    <h3 class="name">{{ dish.name }}</h3>
                    <p class="price">{{ dish.currency }} {{ dish.price }}</p>
                    <p class="description">{{ dish.description }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
