body app-root ~ body {

    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */

    background-color: green;
}

body div.scroll-frontpage ~ body::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}
