<div class="wrapper">
    <div *ngFor="let item of items" 
        class="item" 
        [style]="{left: -i + '00vw'}" 
        [class.notransition]="noTransition" 
        [class.shake]="shake">
        <div class="itemcontainer" (mousemove)="cycleForegroundActive = false" (mouseout)="cycleForegroundActive = true">
            <ng-container *ngTemplateOutlet="template; context: { $implicit: item }"></ng-container>
        </div>
    </div>
    <div
        class="item" 
        [style]="{left: -i + '00vw'}" 
        [class.notransition]="noTransition" 
        [class.shake]="shake">
        <div class="itemcontainer" (mousemove)="cycleForegroundActive = false" (mouseout)="cycleForegroundActive = true">
            <ng-container *ngTemplateOutlet="template; context: { $implicit: items[0] }"></ng-container>
        </div>
    </div>
</div>