<p>  <!-- About Page Content -->
  <div class="minviewheight">
      <div class="title-container">
      <div class="container" *ngIf="aboutContent">
          <div class="part" *ngFor="let part of aboutContent">
              <div *ngFor="let item of part.items; let last = last">
                  <div>
                      <app-full-img [class]="item.imageClass" [src]="item.image"></app-full-img>
                      <p *ngFor="let line of item.text">{{ line }}</p>
                  </div>
                  <hr *ngIf="!last" />
              </div>
          </div>
      </div>
  </div>
  
  About works!
</p>
