<div class="minviewheight">
    <!-- Loading Spinner -->
    <div *ngIf="!content" class="loading-spinner">
      <div class="spinner"></div>
    </div>
  
    <!-- Error Message -->
    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>
  
    <!-- Content -->
    <div *ngIf="content">
      <h1>{{ content.title }}</h1>
      <div class="container">
        <div class="category" *ngFor="let category of content.container">
          <div class="category-header">
            <h2 class="category-title">{{ category.category }}</h2>
          </div>
          <div class="dish-grid">
            <div class="dish-card" *ngFor="let dish of category.dishes">
              <div class="image-container">
                <app-full-img class="picture" [src]="dish.image"></app-full-img>
                <div class="overlay">
                  <p class="overlay-text">{{ dish.time }} mins · Serves {{ dish.serves }}</p>
                </div>
              </div>
              <div class="details">
                <div class="badge-container">
                  <span class="diet-badge" *ngIf="dish.vegetarian">Vegetarian</span>
                  <span class="diet-badge" *ngIf="dish.spicy">Spicy</span>
                </div>
                <h3 class="name">{{ dish.name }}</h3>
                <div class="rating">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star-half-alt"></i>
                  <span class="rating-text">4.5</span>
                </div>
                <p class="price">{{ dish.currency }}{{ dish.price }}</p>
                <button class="order-button">
                  <span>Add to Cart</span>
                  <i class="fas fa-shopping-cart"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>