<div class="minviewheight">
  <!-- Loading Spinner -->
  <div *ngIf="!content" class="loading-spinner">
    <div class="spinner"></div>
  </div>

  <!-- Error Message -->
  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>

  <!-- Content -->
  <div *ngIf="content">
    <!-- Image Background Section -->
    <div class="meal-background">
      <div class="meal-details">
        <h1>Chicken Salad Bowl</h1>
        <p class="description">With Black Beans and Veggies</p>
        <button class="learn-more-btn" (click)="scrollToMoreDishes()">Learn More</button>      
      </div>
    </div>

    <!-- Cards Section -->
    <div class="cards-section">
      <h2 class="section-title">More Dishes</h2>
      <div class="card-container">
        <!-- Card 1 -->
        <div class="dish-card">
          <img src="../../assets/dinner.jpg" alt="Dish 1" class="card-image">
          <div class="card-details">
            <h3 class="dish-name">Ugali Managu</h3>
            <p class="dish-description">Traditional Kenyan dish with maize flour porridge and leaves of nightshade.</p>
          </div>
        </div>

        <!-- Card 2 -->
        <div class="dish-card">
          <img src="../../assets/Salami Pizza.jpg" alt="Dish 2" class="card-image">
          <div class="card-details">
            <h3 class="dish-name">Pizza Margherita</h3>
            <p class="dish-description">Pizza with tomato and cheese.</p>
          </div>
        </div>

        <!-- Card 3 -->
        <div class="dish-card">
          <img src="../../assets/Swahili Dish .jpg" alt="Dish 3" class="card-image">
          <div class="card-details">
            <h3 class="dish-name">Kenyan Dish</h3>
            <p class="dish-description">A burger with lettuce and tomato.</p>
          </div>
        </div>
        <!-- Card 4 -->
        <div class="dish-card">
          <img src="../../assets/Salami Pizza.jpg" alt="Dish 4" class="card-image">
          <div class="card-details">
            <h3 class="dish-name">Pizza</h3>
            <p class="dish-description">A flatbread made of whole wheat flour.</p>
          </div>
        </div>
        <!-- Card 5 -->
        <div class="dish-card">
          <img src="../../assets/Salami Pizza.jpg" alt="Dish 4" class="card-image">
          <div class="card-details">
            <h3 class="dish-name">Pizza</h3>
            <p class="dish-description">A flatbread made of whole wheat flour.</p>
          </div>
        </div>
        <!-- Card 6 -->
        <div class="dish-card">
          <img src="../../assets/Salami Pizza.jpg" alt="Dish 4" class="card-image">
          <div class="card-details">
            <h3 class="dish-name">Pizza</h3>
            <p class="dish-description">A flatbread made of whole wheat flour.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>