<div class="minviewheight">
    <div class="container">
        <div class="part">
            <div>
                <app-full-img class="full" src="../../assets/house2.jpeg" />
                <p>In the middle of the Kenyan savanna lies the cozy comfort of Nashipae's Cultural Oasis. Built in november 2024 by Sofy Nashipae Nkumum as part of her dream of bringing different cultures together. We offer personalized accomodation, trips and activities for an unforgettable safari experience.</p>
            </div>
            <hr />
            <div>
                <app-full-img class="right" src="../../assets/bedroom2.jpeg" />
                <p>Our bedrooms offer a tranquil retreat, featuring comfortable two person beds and large windows that provide a view of the beautiful environment. Whether you're unwinding after a day of adventure or preparing for a restful night's sleep, our bedrooms provide the perfect sanctuary.</p>
            </div>
            <hr />
            <div>
                <app-full-img class="left" src="../../assets/bathroom.jpeg" />
                <p>Each bedroom has their own bathroom attached to it, with a toilet and a hot rainshower. This is your refreshing escape after the day's activities. Fresh towels and complimentary toiletries ensure a comfortable and convenient stay.</p>
            </div>
        </div>
        <div class="part">
            <div>
                <app-full-img class="right" src="../../assets/livingroom.jpeg" />
                <p>Indulge in leisurely lounging in our living room, where a large TV awaits eager viewers. Whether you're catching up on your favorite shows or enjoying a movie night with fellow guests, our lounge provides the perfect setting for entertainment. With high-speed WiFi internet available throughout the homestay, staying connected has never been easier.</p>
            </div>
            <hr />
            <div>
                <app-full-img class="left" src="../../assets/kitchen.jpeg" />
                <p>Embark on culinary adventures with your host in our well-equipped kitchen, where modern appliances await your culinary creativity. From baking in the oven to whipping up smoothies in the blender, our kitchen has everything you need to prepare delicious meals. The addition of an air fryer and microwave adds convenience to your cooking experience, ensuring that mealtime is both enjoyable and hassle-free.</p>
            </div>
            <hr />
            <div>
                <app-full-img class="right" src="../../assets/veranda.jpeg" />
                <p>Take in the beauty of our surroundings from the comfort of our veranda, where guests can relax and unwind amidst stunning views. Shielded from the elements, our veranda offers the perfect spot to soak in the sights and sounds of nature, whether it's rain or shine. Whether you're sipping your morning coffee or enjoying a sunset drink, our veranda provides a peaceful retreat for guests to connect with the outdoors.</p>
            </div>
        </div>
    </div>
</div>
